@page "{id}"
@model WebApplication1.Pages.User.DetailsModel
@{
    Layout = "_Layout";
}
<body>
    <h1>@Model.Username</h1>
    <hr class="row"/>
    <div class="row justify-content-between">
        <div class="card col-sm-5">
            <div class="card-body">
                <ul class="Details">
                    <li>
                        <span class="card-title">Title:</span>
                        <span class="card-text">Mr</span>
                    </li>
                    <li>
                        <span class="card-title">First Name:</span>
                        <span class="card-text">Dan</span>
                    </li>
                    <li>
                        <span class="card-title">Last Name:</span>
                        <span class="card-text">Layland</span>
                    </li>
                    <li>
                        <span class="card-title">DOB:</span>
                        <span class="card-text">05/01/2020</span>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="col-sm-5">
        </div>*@
        <!--If user checked in start-->
        <div class="card col-sm-5">
            <div class="card-body">
                <ul class="Details">
                    <li>
                        <span class="card-title">Name:</span>
                        <span class="card-text">SomeName</span>
                    </li>
                    <li>
                        <span class="card-title">Capacity:</span>
                        <span class="card-text">1000</span>
                    </li>
                    <li>
                        <span class="card-title">Address 1:</span>
                        <span class="card-text">1 Hope Road</span>
                    </li>
                    <li>
                        <span class="card-title">Address 2:</span>
                        <span class="card-text">Brierley Hill</span>
                    </li>
                    <li>
                        <span class="card-title">City:</span>
                        <span class="card-text">Birmingham</span>
                    </li>
                    <li>
                        <span class="card-title">Town:</span>
                        <span class="card-text">Dudley</span>
                    </li>
                    <li>
                        <span class="card-title">County:</span>
                        <span class="card-text">West Midlands</span>
                    </li>
                    <li>
                        <span class="card-title">Post Code:</span>
                        <span class="card-text">DY1 2NU</span>
                    </li>
                    <li>
                        <span class="card-title">Phone:</span>
                        <span class="card-text">01234567890</span>
                    </li>
                </ul>
            </div>

            <div class="text-right pb-2">
                <a href="#" class="btn btn-danger">Check out</a>
            </div>
        </div>
        <!--If user checked in end-->
        <!--If user not checked in start-->
        @*<div class="col-sm-5">
            <form method="post" autocomplete="off">
                <select class="form-control" asp-for="SelectedVenue">
                    <option selected>Choose...</option>
                    <option value="1">Venue 1</option>
                    <option value="2">Venue 2</option>
                    <option value="3">Venue 3</option>
                    <option value="4">Venue 4</option>
                </select>
                <button type="submit" class="btn-primary btn mt-2">Check in</button>
            </form>
        </div>*@
        <!--If user not checked in end-->
    </div>
</body>