@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Venue Tracker";
}

<div class="container">
    <button class="btn btn-primary">User</button>
    <a href="/Venue" class="Button">Venue</a>
</div>
