@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Venue Tracker";
}

<div class="text-center">
    <a href="/User" class="Button">User</a>
    <a href="/Venue" class="Button">Venue</a>

</div>
