@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Venue Tracker";
}

<div class="text-center">
    <h>Welcome to the COVID-19 Venue Tracker</h>
    <br />
    <p>I am a...</p>
    <a href="/User" type="button" class="btn btn-outline-primary">User</a>
    <a href="/Venue" type="button" class="btn btn-outline-primary">Venue</a>
    <br />
</div>
